.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div1 {
    text-align: center;
}

h1 {
    text-align: center;
}

.div2 {
    border-width: 20px;
    padding: 20px;
    border-style: solid;
    border-color: pink;
}

table {
    width: 50%;
    margin: auto;
    text-align: center;
    border: 2px solid #000;
}

.green-input {
    background-color: lightgreen;
    width: 90%;
}

.green-select {
    background-color: lightgreen;
}

.green-textarea {
    background-color: lightgreen;
}

.green-button {
    background-color: green;
    color: white;
}